.container {
    margin-left: clamp(310px,19.375vw,10px);
    margin-top: clamp(20px,1.25vw,10px); 
    display: grid;
    grid-template-columns: 40% 50%;
    font-size: 20px;
    letter-spacing: 0.06px;
    color:#666;
  }

